#horizontalItems {
    display: flex;
    align-items: center;
    justify-content: center;
    // height: 100px;
    background-color: white;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    @media screen and (max-width: 700px) {
        margin: 0 5px;
    }

    .icon {
        cursor: pointer;
        display: flex;
        height: 100%;
        // background-color: red;

        &:hover {
            outline: 1px solid rgb(213, 215, 216);
            background-color: rgb(243, 243, 243);
        }

        @media screen and (max-width : 700px) {
            display: none;
        }
    }

    .slider {
        height: 100%;
        display: flex;
        overflow-x: scroll;
        scroll-behavior: smooth;

        // &::-webkit-scrollbar {
        //     display: none;
        // }

        .category {
            // height: 100px;
            width: 100%;
            // width: 150px;
            // width: max-content;
            margin: 5px;
            padding: 10px;
            background: var(--primary);
            border-radius: 5px;
            color: white;
            // background: "../../assets/works/grossiste.png";
            text-decoration: none;
            text-align: center;
            transition: 0.05s;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                box-shadow: 0px 0px 10px rgb(0, 0, 0);

                img {
                    transition: 0.05s;
                    object-fit: cover;
                    background-position: center;
                    width: 110%;
                    height: 110%;
                }
            }

            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }
    }
}