#detail {
    margin-top: -20px;

    .l-1 {
        display: flex;
        // justify-content: center;
        // align-items: center;
        padding: 20px;
        // background-color: red;

        .col-1 {
            width: max-content;

            @media screen and (max-width : 950px) {
                display: flex;
            }

            @media screen and (max-width : 650px) {
                display: block;
                .image {
                    // background-color: red;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            .image {
                img {
                    max-width: 400px;
                    width: 100%;
                    border-radius: 20px;
                }
            }

            .icon {
                border-radius: 50%;
                border: 1px solid rgb(213, 215, 216);

                &:hover {
                    background-color: rgb(243, 243, 243);
                }
            }

            .myButton {
                max-width: max-content;
            }

            .title {
                max-width: 400px;
            }
        }

        .col-2 {
            background-color: rgba(128, 128, 128, 0.05);
            border-radius: 20px;
            padding: 20px;
            margin: 20px;
            flex:  1;
            min-width: 400px;
            max-width: 500px;
        }
        flex-wrap: wrap;
    }

    .l-2 {
        border-top: 2px solid rgba(128, 128, 128, 0.25);
        padding-top: 20px;
    }

    .l-3 {
        display: flex;
        .product-chart {
            height: 200px;
            max-width: 400px;
            border: 1px solid red;
        }

        .fiche-descriptive {
            flex: 1;
            // width: 200px;
            border: 1px solid orange;
        }
    }
}

@media screen and (max-width: 950px) {
    #detail {
        .l-1 {
            flex-direction: column;
            padding-left: 0px;
            padding-right: 0px;
            justify-content: center;
            align-items: center;
            .col-1 {
                width: 100%;
                padding: 0;
            }

            .col-2 {
                min-width: 100%;
                margin: 0;
                margin-top: 20px;
            }
        }
    }
}